POSTGRES_URL="postgresql://postgres:3132@localhost:5432/devnest"

REDIS_URL=redis://localhost:6379
ACCESS_SECRET=johnvesslyalti
REFRESH_SECRET=helloworld
PORT=3001
MAX_SESSIONS=5

# Google OAuth
GOOGLE_CLIENT_ID=dummy-client-id
GOOGLE_CLIENT_SECRET=dummy-client-secret
GOOGLE_CALLBACK_URL=http://localhost:3001/api/v1/auth/google/callback
